In [262]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import seaborn as sns
def mpl_inline():
    rc = plt.rcParams.copy()
    %matplotlib inline
    plt.rcParams.update(rc)



import warnings
warnings.filterwarnings(action = 'ignore')

In [263]:
train = pd.read_csv('train.csv')
test=pd.read_csv('test.csv')
test1=test

In [264]:
train.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,fffe4300490044003600300030003800,Pattie Morrisey,18,F,XW0DQ7H,Village,Platinum Membership,2017-08-17,No,xxxxxxxx,...,300.63,53005.25,17.0,781.75,Yes,Yes,No,Not Applicable,Products always in Stock,2
1,fffe43004900440032003100300035003700,Traci Peery,32,F,5K0N3X1,City,Premium Membership,2017-08-28,?,CID21329,...,306.34,12838.38,10.0,NaN,Yes,No,Yes,Solved,Quality Customer Care,1
2,fffe4300490044003100390032003600,Merideth Mcmeen,44,F,1F2TCL3,Town,No Membership,2016-11-11,Yes,CID12313,...,516.16,21027.00,22.0,500.69,No,Yes,Yes,Solved in Follow-up,Poor Website,5
3,fffe43004900440036003000330031003600,Eufemia Cardwell,37,M,VJGJ33N,City,No Membership,2016-10-29,Yes,CID3793,...,53.27,25239.56,6.0,567.66,No,Yes,Yes,Unsolved,Poor Website,5
4,fffe43004900440031003900350030003600,Meghan Kosak,31,F,SVZXCWB,City,No Membership,2017-09-12,No,xxxxxxxx,...,113.13,24483.66,16.0,663.06,No,Yes,Yes,Solved,Poor Website,5

In [265]:
test.head()

,customer_id,Name,age,gender,security_no,region_category,membership_category,joining_date,joined_through_referral,referral_id,...,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback
0,fffe43004900440031003700300030003400,Alethia Meints,50,F,OQJ1XAY,Village,Premium Membership,2015-11-02,No,xxxxxxxx,...,12,386.26,40721.44,7.0,733.830000,Yes,No,No,Not Applicable,Poor Product Quality
1,fffe43004900440031003900370037003300,Ming Lopez,41,M,OUQRPKO,Village,Gold Membership,2016-03-01,No,xxxxxxxx,...,11,37.80,9644.40,9.0,726.000000,Yes,No,No,Not Applicable,Poor Website
2,fffe43004900440034003800360037003000,Carina Flannigan,31,F,02J2RE7,Town,Silver Membership,2017-03-03,No,xxxxxxxx,...,18,215.36,3693.25,21.0,713.780000,Yes,No,Yes,Solved in Follow-up,No reason specified
3,fffe43004900440036003200370033003400,Kyung Wanner,64,M,5YEQIF1,Town,Silver Membership,2017-08-18,Yes,CID8941,...,-999,44.57,36809.56,11.0,744.970000,Yes,No,Yes,No Information Available,Too many ads
4,fffe43004900440035003000370031003900,Enola Gatto,16,F,100RYB5,Town,No Membership,2015-05-05,Yes,CID5690,...,6,349.88,40675.86,8.0,299.048351,No,Yes,Yes,Solved in Follow-up,Poor Website

In [266]:
train.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 36992 entries, 0 to 36991
Data columns (total 25 columns):
customer_id                     36992 non-null object
Name                            36992 non-null object
age                             36992 non-null int64
gender                          36992 non-null object
security_no                     36992 non-null object
region_category                 31564 non-null object
membership_category             36992 non-null object
joining_date                    36992 non-null object
joined_through_referral         36992 non-null object
referral_id                     36992 non-null object
preferred_offer_types           36704 non-null object
medium_of_operation             36992 non-null object
internet_option                 36992 non-null object
last_visit_time                 36992 non-null object
days_since_last_login           36992 non-null int64
avg_time_spent                  36992 non-null float64
avg_transaction_value           36992 non-null float64
avg_frequency_login_days        36992 non-null object
points_in_wallet                33549 non-null float64
used_special_discount           36992 non-null object
offer_application_preference    36992 non-null object
past_complaint                  36992 non-null object
complaint_status                36992 non-null object
feedback                        36992 non-null object
churn_risk_score                36992 non-null int64
dtypes: float64(3), int64(3), object(19)
memory usage: 7.1+ MB

In [267]:
test.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 19919 entries, 0 to 19918
Data columns (total 24 columns):
customer_id                     19919 non-null object
Name                            19919 non-null object
age                             19919 non-null int64
gender                          19919 non-null object
security_no                     19919 non-null object
region_category                 16971 non-null object
membership_category             19919 non-null object
joining_date                    19919 non-null object
joined_through_referral         19919 non-null object
referral_id                     19919 non-null object
preferred_offer_types           19760 non-null object
medium_of_operation             19919 non-null object
internet_option                 19919 non-null object
last_visit_time                 19919 non-null object
days_since_last_login           19919 non-null int64
avg_time_spent                  19919 non-null float64
avg_transaction_value           19919 non-null float64
avg_frequency_login_days        19919 non-null object
points_in_wallet                17956 non-null float64
used_special_discount           19919 non-null object
offer_application_preference    19919 non-null object
past_complaint                  19919 non-null object
complaint_status                19919 non-null object
feedback                        19919 non-null object
dtypes: float64(3), int64(2), object(19)
memory usage: 3.6+ MB

In [268]:
train.shape

(36992, 25)

In [269]:
test.shape

(19919, 24)

In [270]:
train.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 5428
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            288
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [271]:
test.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                 2948
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types            159
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                1963
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
dtype: int64

In [272]:
train['region_category'].fillna(value = 'NaN',inplace = True)
test['region_category'].fillna(value = 'NaN',inplace = True)

In [273]:
train['preferred_offer_types'].fillna(value = 'NaN',inplace = True)
test['preferred_offer_types'].fillna(value = 'NaN',inplace = True)

In [274]:
train.isnull().sum()

customer_id                        0
Name                               0
age                                0
gender                             0
security_no                        0
region_category                    0
membership_category                0
joining_date                       0
joined_through_referral            0
referral_id                        0
preferred_offer_types              0
medium_of_operation                0
internet_option                    0
last_visit_time                    0
days_since_last_login              0
avg_time_spent                     0
avg_transaction_value              0
avg_frequency_login_days           0
points_in_wallet                3443
used_special_discount              0
offer_application_preference       0
past_complaint                     0
complaint_status                   0
feedback                           0
churn_risk_score                   0
dtype: int64

In [275]:
train['points_in_wallet'].fillna(value =0,inplace = True)
test['points_in_wallet'].fillna(value =0,inplace = True)

In [276]:
train.isnull().sum()

customer_id                     0
Name                            0
age                             0
gender                          0
security_no                     0
region_category                 0
membership_category             0
joining_date                    0
joined_through_referral         0
referral_id                     0
preferred_offer_types           0
medium_of_operation             0
internet_option                 0
last_visit_time                 0
days_since_last_login           0
avg_time_spent                  0
avg_transaction_value           0
avg_frequency_login_days        0
points_in_wallet                0
used_special_discount           0
offer_application_preference    0
past_complaint                  0
complaint_status                0
feedback                        0
churn_risk_score                0
dtype: int64

In [277]:
train.nunique()

customer_id                     36992
Name                            36992
age                                55
gender                              3
security_no                     36992
region_category                     4
membership_category                 6
joining_date                     1096
joined_through_referral             3
referral_id                     11359
preferred_offer_types               4
medium_of_operation                 4
internet_option                     3
last_visit_time                 30101
days_since_last_login              27
avg_time_spent                  25961
avg_transaction_value           36894
avg_frequency_login_days         1654
points_in_wallet                23700
used_special_discount               2
offer_application_preference        2
past_complaint                      2
complaint_status                    5
feedback                            9
churn_risk_score                    6
dtype: int64

In [278]:
test.nunique()

customer_id                     19919
Name                            19919
age                                55
gender                              3
security_no                     19919
region_category                     4
membership_category                 6
joining_date                     1096
joined_through_referral             3
referral_id                      7603
preferred_offer_types               4
medium_of_operation                 4
internet_option                     3
last_visit_time                 17821
days_since_last_login              27
avg_time_spent                  15703
avg_transaction_value           19883
avg_frequency_login_days          946
points_in_wallet                14582
used_special_discount               2
offer_application_preference        2
past_complaint                      2
complaint_status                    5
feedback                            9
dtype: int64

In [279]:
train = train.drop(["security_no","Name","referral_id","last_visit_time","joining_date","customer_id","gender"], axis=1)
test = test.drop(["security_no","Name","referral_id","last_visit_time","joining_date","customer_id","gender"], axis=1)

In [280]:
train['medium_of_operation'] = train['medium_of_operation'].str.replace('?','NaN')
train['joined_through_referral'] = train['joined_through_referral'].str.replace('?','NaN')
test['joined_through_referral'] = test['joined_through_referral'].str.replace('?','NaN')
test['medium_of_operation'] = test['medium_of_operation'].str.replace('?','NaN')
train['preferred_offer_types'] = train['preferred_offer_types'].str.replace('  ','NaN')
test['preferred_offer_types'] = train['preferred_offer_types'].str.replace('  ','NaN')

In [281]:
train['avg_frequency_login_days']=train['avg_frequency_login_days'].replace('Error','0.0')
train['avg_frequency_login_days']=train['avg_frequency_login_days'].astype('float64')
test['avg_frequency_login_days']=test['avg_frequency_login_days'].replace('Error','0.0')
test['avg_frequency_login_days']=test['avg_frequency_login_days'].astype('float64')

In [282]:
Numerical=train.select_dtypes(include=['int64','float64','Int64']).dtypes

In [291]:
s = (train.dtypes == 'object')
object_cols = list(s[s].index)
print(object_cols)

['region_category', 'membership_category', 'joined_through_referral', 'preferred_offer_types', 'medium_of_operation', 'internet_option', 'used_special_discount', 'offer_application_preference', 'past_complaint', 'complaint_status', 'feedback']

In [297]:
from sklearn import preprocessing
  
# label_encoder object knows how to understand word labels.
label_encoder = preprocessing.LabelEncoder()
  
# Encode labels in column 'species'.
Category= label_encoder.fit_transform(Category)
  
Category

array([0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0], dtype=int64)

In [298]:
for c in object_cols:
    label_encoder.fit(train[c])
    d=label_encoder.transform(train[c])
    train[c]=d
    e=label_encoder.transform(test[c])
    test[c]=e

In [299]:
train.head()

,age,region_category,membership_category,joined_through_referral,preferred_offer_types,medium_of_operation,internet_option,days_since_last_login,avg_time_spent,avg_transaction_value,avg_frequency_login_days,points_in_wallet,used_special_discount,offer_application_preference,past_complaint,complaint_status,feedback,churn_risk_score
0,18,3,3,1,1,2,2,17,300.63,53005.25,17.0,781.75,1,1,0,1,4,2
1,32,0,4,0,1,1,1,16,306.34,12838.38,10.0,0.00,1,0,1,2,5,1
2,44,2,2,2,1,1,2,14,516.16,21027.00,22.0,500.69,0,1,1,3,3,5
3,37,0,2,2,1,1,1,11,53.27,25239.56,6.0,567.66,0,1,1,4,3,5
4,31,0,2,1,0,3,1,20,113.13,24483.66,16.0,663.06,0,1,1,2,3,5

In [300]:

x = train.drop(['churn_risk_score'], axis=1)
y = train['churn_risk_score']
from sklearn.compose import ColumnTransformer
from sklearn.ensemble import RandomForestClassifier
from sklearn.model_selection import train_test_split
x_train, x_test, y_train,y_test = train_test_split( x, y, test_size = 0.2, random_state = 0 )
clf = RandomForestClassifier(max_depth=14, random_state=0)
clf.fit(x_train, y_train)

RandomForestClassifier(bootstrap=True, class_weight=None, criterion='gini',
                       max_depth=14, max_features='auto', max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, n_estimators=10,
                       n_jobs=None, oob_score=False, random_state=0, verbose=0,
                       warm_start=False)

In [301]:
from sklearn.metrics import accuracy_score
y_pred=clf.predict(x_test)
accuracy_score(y_test,y_pred)

0.7433436950939316